body{
  display:flex;
  justify-content:space-around;
  background:#ffffff;
}
img{
  width:200px;
  height: 200px;
  border-radius: 4px;
}
table{
  padding: 20px;
  
}
.side{
  border:1px solid black;
  margin:10px;
  width:300px; 
  padding:20px;
   background:#ffffff;
 }
.side>div{
  margin:20px;
}
.main{
  border:1px solid black;
  margin:10px;
  background:#ffffff;
 
}
 .detail{
  margin:20px;
}
h1{
  font-size:24px;
}
p{
  font-size:20px;
}
th{
  padding:10px;
  text-align: center;
  border-bottom:1px solid #aaa;
}
td{
  padding:20px;
  font-size:18px;
  text-align: center;
}
td{
  border-bottom:1px solid #aaa;
}
@media only screen and (min-width:320px) and (max-width:480px){
body{
  display: flex;
  flex-direction: column;
}
img{
  width:200px;
  height: 200px;
}
.side{
  width:270px; 
  padding:7px;
 }
h1{
  font-size:18px;
}
li{
  font-size: 12px;
}
p{
  font-size:14px;
}
table{
  padding:2px;
  text-align: center;
  border: 1px solid;
}
th{
  font-size:12px;
  padding:1px;
}
td{
  padding:1px;
  font-size:11px;
}
}
@media only screen and (min-width:481px) and (max-width:767px){
  body{
  display: flex;
  flex-direction: column;
}
li{
  font-size:22px;
}
img{
  width:380px;
  height:380px;
}
.side{
  width:430px; 
  padding:7px;
 }
h1{
  font-size:22px;
}
p{
  font-size:20px;
}
table{
  padding:4px;
  text-align: center;
}
th{
  font-size:16px;
  padding:4px;
}
td{
  padding:4px;
  font-size:14px;
}
}
@media only screen and (min-width:768px) and (max-width:1024px){
 body{
  display: flex;
}
li{
  font-size:20px;
}
img{
  width:280px;
  height:300px;
}
.side{
  width:310px; 
  padding:7px;
  margin:8px;
 }
h1{
  font-size:22px;
}
p{
  font-size:20px;
}
table{
  padding:4px;
  text-align: center;
}
th{
  font-size:16px;
  padding:4px;
}
td{
  padding:4px;
  font-size:14px;
}
}
@media only screen and (min-width:1025px) and (max-width:1280px){
body{
  display: flex;
}
li{
  font-size:22px;
}
img{
  width:280px;
  height:300px;
}
.side{
  width:310px; 
  padding:7px;
  margin:8px;
 }
h1{
  font-size:22px;
}
p{
  font-size:20px;
}
th{
  font-size:20px;
  padding:10px;
}
td{
  padding:10px;
  font-size:18px;
}
}



